@font-face {
    font-family: 'Kudryashev Display';
    src: url('font/KudryashevDisplay-Sans.eot');
    src: local('font/Kudryashev Display Sans'), local('KudryashevDisplay-Sans'),
        url('font/KudryashevDisplay-Sans.eot?#iefix') format('embedded-opentype'),
        url('font/KudryashevDisplay-Sans.woff2') format('woff2'),
        url('font/KudryashevDisplay-Sans.woff') format('woff'),
        url('font/KudryashevDisplay-Sans.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html{
  background-color: black;
}

h1 {
  font-weight: bold;
  font-family: times
  font-size: 1.5rem;
  margin: 0;
  color: white;
}

.centerblock{
position: absolute;
width: 1440px;
height: 60px;
left: 0px;
top: 0px;

background: #FFFFFF;
    } 

.label{
  font-family: 'Kudryashev Display';
    font-size: 50px;
  padding:500px;
}
 
img{
  padding: 60px;
  width: 300px;
  height: auto;
}






/*.grid-container{
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-auto-rows: 500px;
  grid-gap: 100px;
 }

.grid-item {
  background-color:#FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;

*/