.opening{
  font-family: 'Chomsky';
  font-size: 100px;
  color: white;
  animation: floating 6s ease-in-out infinite;

}

.arrow{
  text-align: center;
  font-size: 100px;
  color: white;
}

#link:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#link:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}