@font-face {
    font-family: 'Kudryashev Display';
    src: url('font/KudryashevDisplay-Sans.eot');
    src: local('font/Kudryashev Display Sans'), local('KudryashevDisplay-Sans'),
        url('font/KudryashevDisplay-Sans.eot?#iefix') format('embedded-opentype'),
        url('font/KudryashevDisplay-Sans.woff2') format('woff2'),
        url('font/KudryashevDisplay-Sans.woff') format('woff'),
        url('font/KudryashevDisplay-Sans.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html{
  background-color: black;
}

.opening{
  font-family: 'Chomsky';
  font-size: 100px;
  color: white;
  animation: floating 6s ease-in-out infinite;

}

.arrow{
  text-align: center;
  font-size: 100px;
  color: white;
}

#link:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#link:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

h1 {
   font-family: 'Kudryashev Display';
  font-size: 40px;
  color: #FFFFFF;
  animation: floating 6s ease-in-out infinite;
}

img{
  padding: 60px;
  width: 300px;
  height: auto;
  filter: blur(1rem);
  animation: float 6s ease-in-out infinite;
  
}

.book-container {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 25px;
    text-align: center;
    
  }
  

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

 img:hover{
      filter: none;
      animation-play-state: paused;}

  @keyframes floating {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

 h1:hover{
      filter: none;
      animation-play-state: paused;


/*.grid-container{
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-auto-rows: 500px;
  grid-gap: 100px;
 }

.grid-item {
  background-color:#FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;

*/